{% load static %}
<!DOCTYPE html>
<html lang="en">

        <head>
                <meta charset="utf-8">
                <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
                <!-- Favicons -->
                <link rel="apple-touch-icon" href="{% static  'assets/img/apple-icon.png' %} ">
                <link rel="icon" href="{% static  'assets/img/favicon.png' %} ">
                <title>
                    Github Search
                </title>

                <!--     Fonts and icons     -->
                <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' %} " />
                <link rel="stylesheet" href="{% static  'assets/css/material-kit.min.css' %}">
                <!-- Documentation extras -->
                <!-- CSS Just for demo purpose, don't include it in your project -->
                <link href="{% static  'assets/assets-for-demo/demo.css' %} " rel="stylesheet" />
                <link href="{% static  'assets/assets-for-demo/vertical-nav.css' %} " rel="stylesheet" />
                <!-- iframe removal -->
                <script type="text/javascript">
                    if (document.readyState === 'complete') {
                        if (window.location != window.parent.location) {
                            const elements = document.getElementsByClassName("iframe-extern");
                            while (elemnts.lenght > 0) elements[0].remove();
                            // $(".iframe-extern").remove();
                        }
                    };
                </script>
            </head>

<body class="sections-page  section-white ">
    <nav class="navbar  bg-white   fixed-top  navbar-expand-lg " id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{% url 'search_view' %}">Home </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
          
            
        </div>
    </nav>
    <div class="main">
        <div class="section-space"></div>
      
        
        
        <div class="cd-section" id="teams">
            <!--     *********    TEAM 3     *********      -->
            <div class="team-3">
                <div class="container">
                    <div class="row">
                           
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Search for Github  Users</h2>
                            <div class="col-md-10 ml-auto mr-auto">
                                    <div class="card card-raised card-form-horizontal">
                                        <div class="card-body ">
                                            <form method="GET" action="{% url 'searchresponse' %}">
                                              
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group bmd-form-group">
                                                            <input type="text"  placeholder="Enter the  username" name="search" class="form-control">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-3">
                                                        <button type="submit" class="btn btn-primary btn-block">Search</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>    
                        </div>
                    </div>
                    <div class="row">
                            {% for  objects  in object %}
                        <div class="col-md-6">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-header card-header-image">
                                            <a href="#pablo">
                                                <img class="img" src="{{ objects.avatar_url}}" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                                <a href="{{ objects.html_url }}">   <h4 class="card-title">{{ objects.name}}</h4> </a>
                                            <h6 class="card-category text-muted">Email: {{ objects.email }}</h6>
                                            <h6 class="card-category text-muted">Location:{{ objects.location }}</h6>
                                            <h6 class="card-category text-muted">Followers: {{ objects.followers }}</h6>
                                            <h6 class="card-category text-muted">Created@: {{ objects.created_at }}</h6>
                                            <h6 class="card-category text-muted">Company: {{ objects.company }}</h6>
                                            <h6 class="card-category text-muted">Bio: </h6>
                                            <p class="card-description">
                                               {{ objects.bio }}
                                            </p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                            <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                            <a href="#pablo" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        </div>
                        
                      
                    </div>
                </div>

            </div>
            <!--     *********    END TEAM 3      *********      -->
                    <!-- pagination -->
                    
                    <nav aria-label="Page navigation example">

        
                            <ul class="pagination justify-content-center">
            
                                    
                                {% if contacts.has_previous %}
                                <li class="page-item">
                                   <h4> <a href="?page=1&search={{ search}}" class="page-link">&laquo; first</a></h4>
                                </li>
                                <li class="page-item">
                                 <h4>   <a href="?page={{ contacts.previous_page_number }}&search={{ search}}" class="page-link">previous</a></h4>
                                </li>
                                {% endif %}
            
                                <li class="page-item">
                                 <h4> <a class="page-link"> Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}</a> </h4>
                               </li>
                                
                                {% if contacts.has_next %}
                                <li class="page-item">
                                   <h4> <a href="?page={{ contacts.next_page_number }}&search={{ search}}" class="page-link">next</a></h4>
                                </li>

                                <li class="page-item">
                                  <h4>  <a href="?page={{ contacts.paginator.num_pages }}&search={{ search}}" class="page-link">last &raquo;</a></h4>
                                    </li>
                                {% endif %}
                            </ul>
                            </nav>
                    
                         <!-- endpagination -->
        </div>
        
      
       
        
        
    </div>
    <!--   Core JS Files   -->
    <script src="{% static  'assets/js/core/jquery.min.js' %}"></script>
    <script src="{% static  'assets/js/core/popper.min.js' %}"></script>
    <script src="{% static  'assets/js/bootstrap-material-design.min.js' %}"></script>
    <!--  Google Maps Plugin  -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="{% static  'assets/js/plugins/moment.min.js' %}"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="{% static  'assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
    <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static  'assets/js/plugins/nouislider.min.js' %}"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="{% static  'assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
    <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
    <script src="{% static  'assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{% static  'assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
    <!--	Plugin for Small Gallery in Product Page -->
    <script src="{% static  'assets/js/plugins/jquery.flexisel.js' %}"></script>
    <!-- Plugins for presentation and navigation  -->
    <script src="{% static  'assets/assets-for-demo/js/modernizr.js' %}"></script>
    <script src="{% static  'assets/assets-for-demo/js/vertical-nav.js' %}"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="{% static  'assets/js/material-kit.min.js' %}"></script>
    <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
    <script src="{% static  'assets/assets-for-demo/js/material-kit-demo.js' %}"></script>
    <script>
        $(document).ready(function() {
            materialKitDemo.initContactUs2Map();
        });
    </script>
    <!-- Sharrre libray -->
    <script src="{% static  'assets/assets-for-demo/js/jquery.sharrre.js' %}">
    </script>
    <script>
        $(document).ready(function() {
            $('#twitter').sharrre({
                share: {
                    twitter: true
                },
                enableHover: false,
                enableTracking: false,
                enableCounter: false,
                buttons: {
                    twitter: {
                        via: 'CreativeTim'
                    }
                },
                click: function(api, options) {
                    api.simulateClick();
                    api.openPopup('twitter');
                },
                template: '<i class="fa fa-twitter"></i> Twitter',
                url: 'http://demos.creative-tim.com/material-kit-pro/presentation.html'
            });

            $('#facebook').sharrre({
                share: {
                    facebook: true
                },
                enableHover: false,
                enableTracking: false,
                enableCounter: false,
                click: function(api, options) {
                    api.simulateClick();
                    api.openPopup('facebook');
                },
                template: '<i class="fa fa-facebook-square"></i> Facebook',
                url: 'http://demos.creative-tim.com/material-kit-pro/presentation.html'
            });

            $('#google').sharrre({
                share: {
                    googlePlus: true
                },
                enableCounter: false,
                enableHover: false,
                enableTracking: true,
                click: function(api, options) {
                    api.simulateClick();
                    api.openPopup('googlePlus');
                },
                template: '<i class="fa fa-google-plus"></i> Google',
                url: 'http://demos.creative-tim.com/material-kit-pro/presentation.html'
            });
        });


        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46172202-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js' %}';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

        // Facebook Pixel Code Don't Delete
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js' %}');

        try {
            fbq('init', '111649226022273');
            fbq('track', "PageView");

        } catch (err) {
            console.log('Facebook Track Error:', err);
        }
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1" />
    </noscript>

</body>

</html>
